<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sbitbd.alhelalacademy">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name="com.sbitbd.alhelalacademy.connectionservice.OpenDuoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlhelalAttendance.NoActionBar.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.sbitbd.alhelalacademy.ui.video_call.video_call"
            android:exported="false" />
        <activity
            android:name="com.sbitbd.alhelalacademy.ui.audio_call.audio_call"
            android:exported="false" />
        <activity android:name="com.sbitbd.alhelalacademy.activity.CallActivity"
            android:exported="true"/>
        <activity
            android:name="com.sbitbd.alhelalacademy.update_view.update_view"
            android:exported="false"
            android:theme="@style/Theme.AlhelalAttendance.NoActionBar" />
        <activity
            android:name="com.sbitbd.alhelalacademy.teacher_page.teacher_page"
            android:exported="true"
            android:theme="@style/Theme.AlhelalAttendance.NoActionBar" />
        <activity
            android:name="com.sbitbd.alhelalacademy.verification.verify"
            android:theme="@style/Theme.AlhelalAttendance.NoActionBar" />
        <activity
            android:name="com.sbitbd.alhelalacademy.teacher_attendance.teacher_attend"
            android:theme="@style/Theme.AlhelalAttendance.NoActionBar" />
        <activity android:name="com.sbitbd.alhelalacademy.ui.update_attendance.update_attendance" />
        <activity
            android:name="com.sbitbd.alhelalacademy.settings.settings"
            android:theme="@style/Theme.AlhelalAttendance.NoActionBar" />
        <activity
            android:name="com.sbitbd.alhelalacademy.download.download"
            android:theme="@style/Theme.AlhelalAttendance.NoActionBar.NoActionBar" />
        <activity
            android:name="com.sbitbd.alhelalacademy.website.website"
            android:theme="@style/Theme.AlhelalAttendance.NoActionBar" />
        <activity
            android:name="com.sbitbd.alhelalacademy.forget.forget_code"
            android:theme="@style/Theme.AlhelalAttendance.NoActionBar" />
        <activity
            android:name="com.sbitbd.alhelalacademy.registration.registration"
            android:theme="@style/Theme.AlhelalAttendance.NoActionBar.NoActionBar" />
        <activity
            android:name="com.sbitbd.alhelalacademy.class_view.class_view"
            android:theme="@style/Theme.AlhelalAttendance.NoActionBar" />
        <activity
            android:name="com.sbitbd.alhelalacademy.absent_view.absent_view"
            android:theme="@style/Theme.AlhelalAttendance.NoActionBar" />
        <activity
            android:name="com.sbitbd.alhelalacademy.present_view.present_view"
            android:theme="@style/Theme.AlhelalAttendance.NoActionBar" />
        <activity
            android:name="com.sbitbd.alhelalacademy.student_details"
            android:theme="@style/Theme.AlhelalAttendance.NoActionBar" />
        <activity
            android:name="com.sbitbd.alhelalacademy.attend_form.attend"
            android:theme="@style/Theme.AlhelalAttendance.NoActionBar" />
        <activity
            android:name="com.sbitbd.alhelalacademy.Dashboard"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/Theme.AlhelalAttendance.NoActionBar" />
        <activity
            android:name="com.sbitbd.alhelalacademy.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="com.sbitbd.alhelalacademy.connectionservice.OpenDuoConnectionService"
            android:exported="false"
            android:permission="android.permission.BIND_TELECOM_CONNECTION_SERVICE">
            <intent-filter>
                <action android:name="android.telecom.ConnectionService" />
            </intent-filter>
        </service>
        <receiver
            android:name="com.sbitbd.alhelalacademy.connectionservice.OpenDuoCallReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!-- <receiver android:name=".network_listener.ConnectivityReceiver" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <service android:name="com.sbitbd.alhelalacademy.Service.attend_view_service" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>